<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584691722174-bno8p19f77655kdd035uqjg1it5jph66.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584691722174-bno8p19f77655kdd035uqjg1it5jph66</string>
	<key>API_KEY</key>
	<string>AIzaSyDMubUdF3fCtXwp-MqgbvPiokQAPo2fuEA</string>
	<key>GCM_SENDER_ID</key>
	<string>584691722174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.memoryGame</string>
	<key>PROJECT_ID</key>
	<string>matchwiz-final-project</string>
	<key>STORAGE_BUCKET</key>
	<string>matchwiz-final-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584691722174:ios:3047b1be2c09cc5196fbef</string>
</dict>
</plist>